# Application
src/web/app/plugins/*
!src/web/app/plugins/.gitkeep
src/web/app/mu-plugins/*/
src/web/app/upgrade
src/web/app/uploads/*
!src/web/app/uploads/.gitkeep

html
data


# Dotenv
.env
.env.*
!.env.example

# Database volume
data


# Certs
certs/

# Custom
.DS_Store
